*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: hsl(212, 45%, 89%);
}

.card{
   margin: 30%;
   margin-top: 80px;
   width: 600px;
   padding: 15px 10px 80px 10px;
   align-content: center;
   border-radius: 20px;
   background-color: hsl(0, 0%, 100%);
}
.card header img{
    border-radius: 20px;
    margin: 0%;
}
.card div h1{
    font-size: 3rem;
    padding: 25px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}
.card div p{
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}
.card div{
    background-color: transparent;
}